.quote {
    position: relative;
    border: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 50px;
    font-size: 25px;
}

.quote:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10px;
    background: var(--bs-primary);
}

.quote b {
    font-weight: 700;
}

p {
    font-size: 25px;
}

.card-body .list-unstyled {
    font-size: 20px;
}

.code {
    font-family: var(--bs-font-monospace), sans-serif;
    color: var(--dim-color);
}

.code-block {
    background: var(--bs-warning);
    color: black;
    opacity: 70%;
    border-radius: 15px;
    padding: 20px;
    font-size: 18px;
}

html.dark {
    .quote {
        border-color: #444;
        background: rgb(35, 38, 41);
    }
}

@media (prefers-color-scheme: dark) {
    .quote {
        border-color: #444;
        background: rgb(35, 38, 41);
    }
}