.quote {
    position: relative;
    border: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 50px;
    font-size: 25px;
}

.quote:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10px;
    background: var(--bs-primary);
}

.quote b {
    font-weight: 700;
}

p {
    font-size: 25px;
}

@media (prefers-color-scheme: dark) {
    .quote {
        border-color: #444;
        background: rgb(35, 38, 41);
    }
}