{% set header_select = 3 %}
{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/other.css') }}">
{% endblock %}
{% block content %}
    <h1 style="font-size: calc(1.5rem + 1.5vw); font-weight: 600;">Ответы на Частозадаваемые Вопросы и API</h1>
    <h1 class="mt-5">Почему парсинг фильмов – это законно?</h1>
    <div class="quote mt-4">
        <b>Парсинг (веб-скрейпинг)</b> — это автоматизированный сбор общедоступной информации из интернета, осуществляемый без использования API сайтов. Можно представить, как человек открывает браузер, ходит по сайтам и копирует с них данные. Парсинг — то же самое, только ходит не человек, а робот.
    </div>
    <p class="mt-3 ms-3">Согласно <a href="https://www.consultant.ru/document/cons_doc_LAW_28399/f703218d9357338507052de484404828b3da468e/">29 статье Конституции РФ</a> – каждый вправе свободно искать и получать информацию любым законным способом.
    И <a href="https://www.consultant.ru/document/cons_doc_LAW_61798/7b95a91feb271e5c605456ef9a8afef42d36ae2d/">Закон об информации</a> гласит, что информация является общедоступной, и каждый вправе использовать такую информацию (при указании источника).</p>
    <p class="ms-3">Также <b>Совет безопасности РФ</b> одобрил использование пиратского контента в условиях санкций. То есть все иностранные фильмы и сериалы стали общедоступными и перестали обладать авторским правом.
    На сайте нельзя смотреть русские фильмы, так как это бы нарушало <a href="https://www.consultant.ru/document/cons_doc_LAW_64629/bcdb3bad76a5cc627f036c9e23135e25579d3635/">1263 статью ГК РФ</a> отечественных кинокомпаний.</p>
{% endblock %}

{#{% block scripts %}#}
{#<script>#}
{##}
{#</script>#}
{#{% endblock %}#}
