{% extends "base.html" %}
{% set add_title = " | Прочее" %}
{% set header_select = 3 %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/other.css') }}">
{% endblock %}
{% block content %}
    <h1 style="font-size: calc(1.5rem + 1.5vw); font-weight: 600;">Ответы на Частозадаваемые Вопросы и API</h1>
    <img src="{{ url_for('static', filename="imgs/poster.jpg") }}" alt="" class="poster mt-3 mb-2">
    <h1 class="mt-4">Почему парсинг фильмов – это законно?</h1>
    <div class="quote mt-4">
        <b>Парсинг (веб-скрейпинг)</b> — это автоматизированный сбор общедоступной информации из интернета, осуществляемый без использования API сайтов. Можно представить, как человек открывает браузер, ходит по сайтам и копирует с них данные. Парсинг — то же самое, только ходит не человек, а робот.
    </div>
    <p class="mt-3 ms-3">Согласно <a href="https://www.consultant.ru/document/cons_doc_LAW_28399/f703218d9357338507052de484404828b3da468e/">29 статье Конституции РФ</a> – каждый вправе свободно искать и получать информацию любым законным способом.
    И <a href="https://www.consultant.ru/document/cons_doc_LAW_61798/7b95a91feb271e5c605456ef9a8afef42d36ae2d/">Закон об информации</a> гласит, что информация является общедоступной, и каждый вправе использовать такую информацию (при указании источника).</p>
    <p class="ms-3">Также <b>Совет безопасности РФ</b> одобрил использование пиратского контента в условиях санкций. То есть все иностранные фильмы и сериалы стали общедоступными и перестали обладать авторским правом.
    На сайте нельзя смотреть русские фильмы, так как это бы нарушало <a href="https://www.consultant.ru/document/cons_doc_LAW_64629/bcdb3bad76a5cc627f036c9e23135e25579d3635/">1263 статью ГК РФ</a> отечественных кинокомпаний.</p>

    <h1 class="mt-5">Получить доступ к API и его использование</h1>
    <p>Для начала выберите подходящий для себя тариф и получите <b>Ключ разработчика</b>.</p>
    <h1 class="mt-5 mb-4">Получить прямую ссылку на фильм / сериал</h1>
    <h3 class="mb-3 ms-2">Формат запроса:</h3>
    <div class="code code-block mb-4 d-flex" style="font-size: 25px;">
        <div>{{ request.host_url }}api<br>? type = &lt;string&gt;<br>& server = &lt;string&gt;<br>& code = &lt;string&gt;<br>& season = &lt;integer&gt;<br>& episode = &lt;integer&gt;<br>& apikey = &lt;string&gt;</div>
        <div class="ms-4"><br>// Фильм или Сериал [film, serial]<br>// Сайт [kinovod, rutube, zona]<br>// Код фильма / сериала на сайте<br>// Сезон (только для сериала)<br>// Серия (только для сериала)<br>// Ключ Разработчика</div>
    </div>
    <h3 class="mb-3 ms-2">Формат ответа:</h3>
    <div class="code code-block mb-3 d-flex" style="font-size: 25px;">
        <div>{<br>&nbsp;&nbsp;"src": &lt;string&gt;,<br>&nbsp;&nbsp;"seasons": &lt;integer&gt;,<br>&nbsp;&nbsp;"episodes": &lt;integer&gt;,<br>&nbsp;&nbsp;"error": &lt;string&gt;<br>}</div>
        <div class="ms-5"><br>// Ссылка на исходное видео<br>// Количество сезонов (только в сериале)<br>// Количество серий в сезоне (только в сериале)<br>// Код ошибки и описание (при возникновении)</div>
    </div>
{#    <p class="ms-3">Параметр <span class="code">{server}</span> определяется сайтом, откуда нужно взять фильм, задаётся первой буквой названия сайта: <span class="code">{k: kinovod, r: rutube, z: zona}</span>.#}
{#    Параметр <span class="code">{code}</span> </p>#}
{#    <div class="code code-block mb-3"><span style="font-size: 25px;">{{ request.host_url }}api/film/{server}{code}/{apikey}</span><br>{server} = Буква сайта {k: kinovod, r: rutube, z: zona}; {code} = Код фильма; {apikey} = Ключ Разработчика.</div>#}
{#    <div class="quote">Отправив <b>GET</b> запрос на сайт по ссылке выше, сервер вернёт <b>json</b> ответ. Если всё сработало успешно, то по ключу <b>"src"</b> вы получите ссылку на исходное видео. В случаи ошибки, сервер вернёт ответ с ключом <b>"error"</b>, содержащий код и описание возникшей ошибки.</div>#}
{#    <h1 class="mt-5 mb-3">Получить прямую ссылку на сериал</h1>#}
{#    <div class="code code-block mb-3"><span style="font-size: 25px;">{{ request.host_url }}api/serial/{server}{code}/s{season}e{episode}/{apikey}</span><br>{server} = Буква сайта {k: kinovod, r: rutube, z: zona}; {code} = Код сериала; <br> {season} = Сезон; {episode} = Серия; {apikey} = Ключ Разработчика.</div>#}
{#    <div class="quote">Отправив <b>GET</b> запрос на сайт по ссылке выше, сервер вернёт <b>json</b> ответ. Если всё сработало успешно, то по ключу <b>"src"</b> вы получите ссылку на исходное видео. Так же будут доступны ключи <b>"seasons"</b> и <b>"episodes"</b> В случаи ошибки, сервер вернёт ответ с ключом <b>"error"</b>, содержащий код и описание возникшей ошибки.</div>#}
    <br><br><br><br><br><br>
{% endblock %}
{#{{ request.host_url }}api/serial/&lt;server&gt;&lt;code&gt;/s&lt;season&gt;e&lt;episode&gt;/&lt;api_key&gt;#}

{#{% block scripts %}#}
{#<script>#}
{##}
{#</script>#}
{#{% endblock %}#}
